@model EntitylayerCore.Concrete.Blog

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>



@using (Html.BeginForm("Add", "Blog", FormMethod.Post))
{

					<br />
	<label for="validationCustom01">Başlıq</label>
	@Html.TextBoxFor(x=>x.BlogTitle, new {@class ="form-control"})
	@Html.ValidationMessageFor(x=>x.BlogTitle,"", new { @class = "text-danger"})

	<br />
	<label for="exampleInputPassword1 mb-2">Kateqoriya</label>
	@Html.DropDownListFor(x=>x.CategoryID,(IEnumerable<SelectListItem>)ViewBag.v,new {@class="form-control"} )
	@Html.ValidationMessageFor(x=>x.CategoryID ,"", new { @class = "text-danger"})

	<br />

	<label for="validationCustom02">Ana Şəkil</label>
	@Html.TextBoxFor(x=>x.BlogImage, new { @class ="form-control"})
	@Html.ValidationMessageFor(x=>x.BlogImage,"", new { @class = "text-danger"})


	<br />

	<label for="exampleInputPassword1 mb-2">Şəkil</label>
	@Html.TextBoxFor(x=>x.BlogThumbnailImage, new {@class ="form-control"})
	@Html.ValidationMessageFor(x=>x.BlogThumbnailImage ,"", new { @class = "text-danger"})

	<br />


			<label for="validationCustom02">Məqaləniz</label>
	@Html.TextAreaFor(x=>x.BlogContent, 15, 5,   new { @class ="form-control"})
	@Html.ValidationMessageFor(x=>x.BlogContent,"", new { @class = "text-danger"})
	<br />
	<br />

	<button type="submit" id="btn1" class="btn btn-primary submit mb-4">Təsdiqlə</button>
					
}
	<script>
		$('#btn1').click(function () {
			Swal.fire('Məqaləniz yoxlanıldıqdan sonra səhifədə görsənəcək');
		});
	</script>
	<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.11/dist/sweetalert2.all.min.js
"></script>
	<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.11/dist/sweetalert2.min.css
" rel="stylesheet">


@*<h1>Yeni Blog Əlavə Et</h1>
<form method="post">
    <div class="form-group">
        @Html.Label("Başlıq")
        <input type="text" asp-for="BlogTitle" class="form-control" />
    </div>
   
    <br />
    <div class="form-group">
        @Html.Label(" Ana Şəkil")
        <input type="text" asp-for="BlogImage" class="form-control" />
    </div>
    <br />
    
    <div class="form-group">
        @Html.Label("Şəkil")
        <input type="text" asp-for="BlogThumbnailImage" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Haqqında")
        <textarea cols="30" rows="5" class="form-control" asp-for="BlogContent"></textarea>
    </div>
    <br />

    <br />
    <button class="btn btn-outline-primary">Yüklə</button>
</form>
*@